 @import "tailwindcss";
 @plugin '../../hero.ts';
 @source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 
/* .bg-pea{
  background-color:#A0BB30 !important
}
.bg-cyanBlue{
  background-color:#DBECFD !important
} */
@font-face {
  font-family: 'Proto';
  src: url('/fonts/Proto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
  padding:10px ;
    width: 8px; /* Reduce the width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Make the scrollbar thumb rounded */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Transparent track background */
  }
}
/* add in global.css or a style file */
.toggle-checkbox {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #ccc;
  border-radius: 9999px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.toggle-checkbox:checked {
  background-color: #1d76a1;
}

.toggle-checkbox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background: white;
  transition: transform 0.2s ease-in-out;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}
